#key{
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.boxes{
    width: 500px;
    height: 50px;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #ffa500;
    border-radius:10px ;
    
}
#state{
    background-color: grey;
    
}

.button-container{
    display:flex;
    flex-direction: row;
}

button{
    font-size: 20px;
    padding:10px 20px;
    margin-top: 20px;
    margin-right: 20px;
}